body {
  margin: 0;
  padding: 0;
  background-color: rgb(150, 210, 248);
  font-size: 24px;
}


#game {
  height: 100vh;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  height: 25vh;
}

#rival-choice{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

#game-over {
  font-size: 0px;
}

#third-row {
  display: flex;
  gap: 100px;
}